.movieCard {
    height: max-content;
    background-color: #33363D;
    display: flex;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    transition: all .3s ease-in;
    margin-bottom: 2rem;

    &:hover {
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
        transform: translateY(-2px);
    }

    &__image {
        height: 16rem;
        object-fit: contain;
        margin-right: 1rem;
    }
}