*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #272C34;

    font-size: 62.5%;   // This defines what 1rem is

    @include respond(tab-land) { //width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    } 

    @include respond(tab-port) { //width < 900?
        font-size: 50%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75% //1rem = 12, 12/16
    }
}

::selection {
    background-color: $color-primary-light;
    color: $color-white;
}

.container {
    display: grid;
    grid-template-columns: [leftgutter-start] minmax(3.6rem,1fr) [leftgutter-end full-start] repeat(12, [col-start] minmax(min-content, 1fr) [col-end]) [full-end rightgutter-start] minmax(3.6rem,1fr) [rightgutter-end];
    grid-gap: 1.6;
}