

.disp-flex {
    display: flex;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-justify-end {
    justify-content: flex-end;
}
.mr-sm {
    margin-right: 2rem;
}

.mt-sm {
    margin-top: 1rem;
}

.mb-lg {
    margin-bottom: 3rem;
}

.mb-md {
    margin-bottom: 2rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-tn {
    margin-bottom: .7rem;
}